<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
                <binding name="SoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/c/27.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="SfdcReference.Soap" name="Soap" />
            <endpoint address="https://login.salesforce.com/services/Soap/u/27.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding2"
                contract="SfdcPartnerReference.Soap" name="Soap1" />
        </client>
    </system.serviceModel>
</configuration>